<div
  class="bg-gray-300 hover:text-white shadow-md flex flex-col justify-between items-center sm:w-32 sm:h-32 w-20 h-24 rounded-2xl sm:m-2 m-2 p-2 transform transition duration-200 hover:scale-110 hover:bg-blue-600 ">
  <section class="flex flex-row w-full justify-end">
    <mat-slide-toggle color="primary" [checked]="data.value" (change)="onToggle($event)" ></mat-slide-toggle>
  </section>
  <mat-icon class="sm:h-[50px] sm:w-[50px] sm:text-[50px] h-[20px] w-[20px] text-[20px] ">{{data.icon}}</mat-icon>
  <span class="flex items-end justify-center text-center max-sm:text-xs">{{data.name}}</span>

</div>

