<div class="flex flex-col m-4 gap-3">
  <div class="bg-blue-700 text-white w-full h-9 justify-center items-center flex rounded-lg">
    Add item
  </div>

  <div [formGroup]="form">
    <div class="flex flex-row  gap-3">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" class="text-gray-900 text-sm rounded-lg w-full p-2.5 " placeholder="name" required
               formControlName="name">
      </mat-form-field>

      <button mat-button [matMenuTriggerFor]="menu" >
        Icon:
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let item of items" (click)="form.get('icon')?.setValue(item)">
          <mat-icon>{{item}}</mat-icon>
        </button>
      </mat-menu>
      <mat-icon class="mat-18 text-7xl w-20 h-20">{{form.get('icon')?.value}}</mat-icon>

    </div>

    <div class="flex flex-row gap-3 justify-end mr-4">
      <button mat-raised-button class="bg-red-700 rounded-xl text-white" (click)="onClose()">cancel</button>
      <button mat-raised-button class="bg-blue-700 rounded-xl text-white" (click)="onSubmit()">Add</button>
    </div>
  </div>

</div>


