<div class="relative w-screen h-screen">
  <img class="w-full h-full max-sm:hidden absolute"
       src="https://images2.alphacoders.com/602/602237.jpg" alt="pc">
  <img class="absolute w-full h-full sm:hidden"
       src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjUzNWJhdGNoMi1teW50LTQzLmpwZw.jpg"
       alt="phone">

  <div class="w-full sm:h-full absolute flex sm:justify-start justify-center items-center p-2">
    <div
      class="bg-gray-300 h-full sm:h-auto sm:bg-gray-300 sm:w-14 flex flex-row sm:flex-col justify-center items-center space-6 rounded-2xl ">
      <app-room *ngFor="let room of rooms" [data]="room"></app-room>
    </div>
  </div>


  <div class="absolute w-full h-full flex flex-col justify-end items-end pb-2 pr-2">
    <button
      class="bg-gray-300 sm:w-32 w-12 h-12 sm:m-4 m-2 sm:rounded-2xl rounded-full transform transition duration-200 hover:scale-110 hover:bg-blue-600 "
      (click)="openDialog()">Add
    </button>
    <div class="sm:h-2/3 h-4/5  overflow-y-auto  w-80 flex flex-wrap w1/2 pt-4 justify-center gap-2 ">
      <app-device-item *ngFor="let device of devices" [data]="device" (onChange)="onChange($event)"></app-device-item>
    </div>
  </div>

  <div class="absolute left-1/2 transform -translate-x-1/2 bottom-0 flex flex-col justify-start items-start sm:justify-center sm:items-center p-3 ">
    <app-air-conditioner *ngFor="let a of air" [numberValue]="a.value"
                         (change)="onValueChange($event)"></app-air-conditioner>
  </div>

</div>














