<div class="bg-gray-300 flex flex-col rounded-2xl gap-2 p-4">
  <div class="flex flex-row justify-between">
    <span>Air conditioner</span>
    <span>{{numberValue}} °c</span>
  </div>

  <div class="flex flex-row justify-between items-center">
    <button mat-icon-button color="primary" (click)="decrement()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <mat-slider class="sm:w-64 w-32" min="0" max="100" step="1" showTickMarks discrete>
      <input matSliderThumb [(ngModel)]="numberValue" (change)="sliderChanged($event)" >
    </mat-slider>
    <button mat-icon-button color="primary" (click)="increment()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
